 <div class="row jumbotron">
  <%= image_tag @user.profile.avatar.url, class: 'col-md-2' %>
<div class="col-md-10">
  <span>Name: </span><span><%= @user.profile.first_name %> <%= @user.profile.last_name %><br/></span>
  <span> Title: </span> <span><%= @user.profile.job_title %><br/></span>
  <% if current_user.plan_id == 2 %>
   <span> Phone Number: </span> <%= @user.profile.phone_number %><br/>
   <span> Contact Email: </span> <%= @user.profile.contact_email %><br/>
  <% end %>
  <span> Decription: </span><%= @user.profile.description %><br/>
</div>
</div>
